:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

   /* most exciting css start */

   #most_exciting {
    padding: 2rem 0;
    text-align: center;
    display: flex;
   
  }

  #most_exciting .most_exciting_title h2 {
    margin-top: 50%;
    color: var(--primary);
    font-family: "Alice", serif !important;
    text-shadow: var(--text-shadow-1);
  }

  .flex_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .flex_container > .most_exciting_card:nth-child(odd) {
    animation: slideInFromBottom 1s ease-out 0.8s forwards;
  }
  .flex_container > .most_exciting_card:nth-child(even) {
    animation: slideInFromTop 1s ease-out 0.8s forwards;
  }
  #most_exciting h4 {
    color: var(--tertiary);
    font-weight: 600;
    font-size: 1.4rem;
    margin-top: 0.3rem;
  }
  #most_exciting span.fas {
    color: var(--primary);
    font-size: 20px;
    border: 1px solid var(--tertiary);
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    border-radius: 3rem;
    box-shadow: var(--box-shadow-1);
  }

  #most_exciting span.fas:hover {
    background: var(--primary);
    color: var(--text-white);
  }
  .flex_container > .most_exciting_card {
    border: 1px solid var(--text-white);
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  .flex_container:nth-child(4) span.fas {
    color: var(--text-white);
  }
  #most_exciting .most_exciting_card:nth-child(4) span.fas {
    background-color: var(--text-white);
  }
  #most_exciting .most_exciting_card:nth-child(4) span.fas:hover {
    color: var(--text-white);
    background-color: var(--primary);
    border: 1px solid #fff;
  }

  #most_exciting .most_exciting_card:nth-child(4) h4 {
    color: var(--text-white);
  }
  .flex_container > .most_exciting_card:nth-child(4) {
    background: var(--primary);
    color: var(--text-white);
  }
  @media (max-width: 1000px) {
    #most_exciting {
      padding: 6rem 0;
    }
  }
  @media (max-width: 991px) {
    .flex_container {
    }
  }
  @media (max-width: 500px) {
  }
  @media (max-width: 400px) {
  }

  /* most exciting ends */

/* about css start */
#about{
  display: flex;
  background-color: rgb(251, 246, 251);
  justify-content: space-between;
  align-items: center;
}
#about .left-side {
  background-image: url("https://plus.unsplash.com/premium_photo-1678566111481-8e275550b700?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTN8fHdlYnNpdGV8ZW58MHx8MHx8fDA%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 76vw;
  animation: fadeIn 2s ease-in;
}

#about .right-side {
  width: 70vw;
  text-align: justify;
  margin: 1rem;
  padding: 2rem;
  animation: fadeIn 2s ease-in;
}

#about .right-side ul li {
  list-style: none;
  margin-top: 1rem;
}
#about .right-side ul li .fas {
  color: var(--secondary);
  font-size: 20px;
  padding-right: 1rem;
}
#about .right-side h2 {
  color: var(--primary);
  text-shadow: var(--text-shadow-1);
}

@media (max-width: 991px) {
  #about {
    flex-direction: column;
    gap: 2rem;
  }
  #about .left-side {
    height: 500px;
    width: 90vw;
  }
  #about .right-side button {
    height: 15%;
  }
}
@media (max-width: 770px) {
}

/* about css ends */

 /* service section css */

 #services {
  background: #fff;
        margin: 10rem 1rem;
        text-align: center;
      }
      #services p{
        color:var(--h1_color) ;
      }

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #fff;
  background: var(--secondary);
  padding: 3rem 2rem;
  text-align: center;
  border-radius: .5rem;
}

.services .box-container .box img {
  height: 8rem;
  margin-bottom: .7rem;
}

.services .box-container .box h3 {
 
  padding: 1.5rem 0;
}

.services .box-container .box p {
  line-height: 2;
 
}
/* service ends */

    #contact_form{
      margin: 10rem 10rem;

    }