.splitBackground {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    margin: .5rem 0;
    background: var(--secondary);
    color: var(--primary);
    overflow: hidden;
  }
  
  .splitBackground .content {
    /* display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center; */
    gap: .5rem;
  }
  
  .heading {
    font-size: 2.5rem;
    opacity: 0.9;
    color: var(--primary);
    font-family:  'Inter', sans-serif;
  }
  
  .animatedBtn {
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
  }
  
  .animatedBtn:hover {
    background: var(--tertiary);
    transform: scale(1.05);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .splitBackground {
      height: 30vh;
    }
  
    .heading {
      font-size: 2rem;
    }
  
    .animatedBtn {
      font-size: 1rem;
      padding: 10px 20px;
    }
  }
  